body {
    background-color: darkblue;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
